* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative
}


/* NAVBAR START */

nav {
    height: 10px;
    display: flex;
    padding: 2% 6%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
}

.nav-links {
    width: 100%;
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a,.nav-links ul li label  {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.dropdown-prop .re {
    color: #fff;
    margin-left: 5px;
    transform: rotate(1s);
}

.nav-links ul li input {
    display: none;
}


/* DROPDOWN START */
/* .nav-links ul li:hover .dropdown-content {
    display: block;
} */

.dropdown-prop .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    top: 100%;
    left: 0;
    min-width: 160px;
    z-index: 1;
}

[id^=btn]:checked + label {
    margin-bottom: 300px;
}


[id^=btn]:checked + label + .re {
    transform: rotate(180deg);
}

[id^=btn]:checked + label + .re + .dropdown-content{
    display: block;
}

.dropdown-prop .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-prop .dropdown-content a:hover {
    background-color: #575757;
}
/* DROPDOWN END */

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #ccc;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1 {
    font-size: 65px;

}

.text-box p {
    margin: 10px 0 40px;
    font-size: 15px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #ccc;
    background: #ccc;
    transition: 0.7s;
}

nav .fa {
    display: none;
}

.wa {
    list-style: none;
    background-color: #25D366;
    border-radius: 10px;
}

.wa .contact-box {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600; 
    color: #fff;
    position: relative;
}

.wa .contact-box i {
    font-size: 20px;
    margin-right: 10px; /* Memberi jarak antara ikon dan teks */
}

/* .wa .contact-box::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 100%;
    height: 3px; 
    background-color: green; 
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.wa .contact-box:hover::after {
    transform: scaleX(1);
} */


@media(max-width: 700px) {
    .text-box h1 {
    font-size: 23px;
    }

    nav {
        height: 30px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #ccc;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

    .wa .contact-box {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 15px;
        font-weight: 600; 
        color: #fff;
        position: relative;
    }
    
    .wa .contact-box i {
        font-size: 30px;
        margin-right: 10px; /* Memberi jarak antara ikon dan teks */
    }
}
/* NAVBAR END */


/* PROPERTY-SWIPER START */
.property {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.property-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.property-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: grey;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #ccc;
}

.sliders {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefefef;
    box-sizing: border-box;
}

.swiper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    background-color: #efefefef;
    box-sizing: border-box;
}

.slide-property {
    padding: 45px 20px;
    margin: 0 40px;
}

/* .card {
    margin: 20px 20px;
    width: 380px;
    border-radius: 2px;
    background-color: #fff;
} */

/* .slide-container {
    max-width: 1120px;
    width: 100%;
    background-color: grey;
} */

.image-content, .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    row-gap: 5px;
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.card-image {
    position: relative;
    height: 280px;
    width: 350px;
    border-radius: 2px;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.swiper-navBtn {
    color: #333;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #707070;
}

.swiper-navBtn::before, .swiper-navBtn::after {
    font-size: 40px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #333;
    /* opacity: 1; */
}

/* .swiper-pagination-bullet-active {
    background-color: red;
} */

@media screen and (max-width: 768px) {
    
    /* .swiper-navBtn {
        display: none;
    } */
}
/* PROPERTY-SWIPER END */

/*  city */
.city {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.city-col {
    flex-basis: 30%;
    width: 30vw; /* Menetapkan lebar sebagai 32% dari lebar viewport */
    height: 20vw; /* Menetapkan tinggi sebagai 32% dari lebar viewport */
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.city-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(226,0,0,0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 1;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/* FOOTER START */
.footer {
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 50px 0;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 20%;
    padding: 10px;
}

.col:nth-child(2), .col:nth-child(3) {
    flex-basis: 15%;
}

.logo-footer {
    width: 80px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.col p {
    color: #fff;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.col ul li {
    list-style: none;
    margin-bottom: 12px;
}

.footer form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.footer form .vas {
    font-size: 18px;
    margin-right: 10px;
}

.footer form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.footer form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.footer form button .va {
    font-size: 16px;
    color: #ccc;
}

.sosial-icons .vas {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

.footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.copyright .myname {
    color: #fff;
    font-weight: 800;
}

@media (max-width: 700px) {
    .footer {
        bottom: unset;
    }

    .col {
        flex-basis: 100%;
    }

    .col:nth-child(2), .col:nth-child(3) {
        flex-basis: 15%;
    }
}


/* .footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa-brands {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart {
    color: #f44336;
} */

/* FOOTER END */





/* ABOUT US PAGE */
.sub-header {
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/about.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 150px;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img {
    width: 100%;
}

.about-col h1 {
    padding-top: 0;
}

.about-col p {
    padding: 15px 0 25px;
}

.grey-btn {
    border: 1px solid #333;
    background: transparent;
    color: #333;
}

.grey-btn:hover {
    color: #fff;
}



/* COURSE PAGE */
.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.course .row {
    margin-top: 50px;
}

.comment-box {
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3 {
    text-align: left;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Semua elemen di dalam form akan sejajar ke kiri */
}

.comment-form input, .comment-form textarea {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0f0; 
    resize: none;
}

.comment-form button {
            padding: 10px 20px;
            margin: 10px 0;
            border: none;
            background: #707070;
            color: #fff;
            cursor: pointer;
}


/* CONTACT PAGE */
.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.row {
    width: 100%;
    justify-content: space-around;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .var {
    font-size: 28px;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p {
    padding: 0;
}

.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.contact-col h3 {
    font-size: 30px;
}

.contact-col input, .contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    background: #f0f0f0f0; 
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contact-col button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    background: #707070;
    color: #fff;
    cursor: pointer;
}